<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://contact-app-ypeu.onrender.com/api/style1">
</head>
<body>
    <div class="nav">
    <ul class="ul1">
        <li><a href="/">Home</a></li>
        <li><a href="/api/form">Add Contact</a></li>
        <li><a href="/api/allcontacts">View Contact</a></li>

    </ul>
    </div>
</body>
</html>


